{% extends "main/base_generic.html" %}
{% block content %}
{% load static %}

  <!-- Header Start -->
  <div class="container-fluid bg-primary mb-5">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 400px"
    >
      <h3 class="display-3 font-weight-bold text-white">Academics</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0"><a class="text-white" href="{% url 'index' %}">Home</a></p>
        <p class="m-0 px-2">/</p>
        <p class="m-0">Academics</p>
      </div>
    </div>
  </div>

  
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Programmes</span>
        </p>
        <h1 class="mb-4">PROGRAMMES FOR ACADEMIC SESSION</h1>
      </div>
      <div class="row">
        <h2 class="mb-4">CORE SUBJECTS</h2>   
          <p>
            <strong>1).	HIGH SCHOOL LANGUAGE ARTS (HSLA)</strong><br>
            <strong>Grade Level: 9-12</strong><br><br>

            The ELA curriculum at AISL is designed to improve students’ written and spoken English as well as higher order thinking skills. 
            This is done through a literature-based inquiry learning program. 
            Students will read and use developmentally appropriate books and other reading material to answer ‘big questions’ through a diverse series of self-directed projects. 
            This approach emphasizes reflection and iteration. Students are expected to correct mistakes or omissions in their work, and turn in the improved assignment in order to receive a better score.
            <br><br>
            As children make the transition into young adulthood, there are certain skill that must be acquired to be ready for the independence and responsibilities that await them. 
            These skills are often referred to as grit or determination. What these mean in real terms is the ability to tackle difficult tasks without becoming discouraged, to improve through reflection, and to make each excessive attempt better than the last. 
            <br><br>
            This curriculum emphasizes these life skills by giving students autonomy and asks them to take ownership of their own education. 
            By the giving them a safe and controlled environment in which to learn not just content, but how to make decisions for themselves, we give them the opportunity to practice the skills necessary for adult life.

            <ul class="list-inline m-0">
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    Ninth and Tenth Grade
                </li>
                At the start of high school, students are introduced to the formal requirements they will be expected to master before graduation. 
                Particular emphasis is placed on citation and attribution, ensuring students are able to find and elect evidence from their reading, discuss and explain their interpretations of the text. 
                Students are expected to write more detailed and through analyses of their readings the year progresses.
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    Eleventh Grade
                </li>
                The eleventh-grade curriculum is focused on adapting students to the longer forms of writing that will be expected of them in twelfth grade and, eventually, in higher education. 
                Students are expected to read at least two books each quarter, and to be able to interpret and compare through in-depth essays. 
                As part of making students college ready, particular attention is paid to students taking responsibility for holding themselves accountable and completing self-assessments of their assignments before handing them in.
                
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    Twelfth Grade
                </li>
                With graduation on the horizon, the twelfth-grade class increases the emphasis on college preparedness. 
                Students are expected to provide clear, detailed analyses of the reading, discussing multiple possible interpretations of authors’ intent and symbolism within the text. 
                Students will also be expected to revise and complete multiple fiction and non-fiction writing assignments each quarter. 
                Through revision, students will eliminate all technical errors and effectively communicate their own ideas and message.
            </ul>
          
        </p>

        <div class="mb-4"></div>
        <p>
          <strong>2).	HIGH SCHOOL MATHEMATICS</strong><br>
          <strong>Grade Level: 9-12</strong><br><br>

          The Mathematics Program of AISL is created to prepare students for success in college, in their careers and their daily lives in the twenty-first century, by helping them to develop their abilities to explore and solve mathematical problems, understand and apply mathematical concepts, think critically, work cooperatively with others, and communicate ideas clearly.
          This program is built on the idea that students develop a better conceptual understanding of mathematics and stronger problem-solving skills when they see the connections among different branches of mathematics, are active in the learning process, study mathematics that is meaningful to the, and continually build on prior learning because topics are spiraled/intertwined.
          The program is designed to make mathematics accessible and inviting. 
          It opens the door to mathematics for more students by incorporating a variety of teaching strategies including real-life (real-world) applications, use of technology, visual and hands-on approaches, exploratory activities, and group work. 


          <ul class="list-inline m-0">
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Algebra
              </li>
              Algebra is a two-semester course based on the Common Core State Standards. 
              This course allows students to integrate prior learning with newly-introduced algebraic concepts and apply their learning to real-life problems. Emphasis will be placed on the development of critical thinking skills using various problem-solving techniques. 
              Topics presented in this course include simplifying and writing algebraic expressions; solving and graphing linear, quadratic, square root and rational functions; solving and graphing linear and quadratic equations and inequalities; and solving systems of linear equations. 
              Students will be introduced to Statics and Probability. 
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Geometry
              </li>
              Geometry is a two-semester course based on the Common Core State Standards. 
              This two-semester course allows students to build on knowledge and skills from Algebra. 
              One area of focus in this class will be the development of critical thinking skills, of the ability to analyze, reason, interpret and apply concepts, spatial perception and synthesis. 
              These skills will be promoted through the use of formal proofs using previously learned algebraic properties, and eventually adding geometric definitions, postulates and theorems. 
              Success in this class will enhance the student’s ability to perform on standardized tests as well as take on the challenges facing them in more advanced mathematical courses.
              
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Advanced Algebra
              </li>
              Advanced Algebra is based on the Common Core State Standards. 
              This course allows students to build on knowledge and skills from Algebra and Geometry. 
              Students will extend their knowledge to quadratic relations and functions, exponential and logarithmic functions, and sequences and series. 
              Students will represent quantities in symbolic, numeric, and graphic form, with special attention to graphical representation. Emphasis will be placed on real-world applications. 
              Students will expand their knowledge with statistics and probability applications.
            
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Pre-Calculus
              </li>
              This two-semester course allows students to build on knowledge and skills from Algebra, geometry and Advanced Algebra. 
              Students will extend their knowledge of all functions, including first degree, quadratic, and third degree, polynomial, rational, exponential and logarithmic. 
              They will build upon their previous knowledge of systems of equations, roots of polynomial equations, x-intercepts of polynomial functions, linear programming, sequences and series, and the binomial theorem. 
              New topics include trigonometric functions, graphing trigonometric functions, analytical trigonometry, and Demoivre’s Theorem. 
              Additional topics in pre-calculus include mathematical induction and graphing all functions using various techniques which include translations, limits, symmetry, a graphing calculator and by hand. Additional topics include polar coordinate and conic sections are studied thoroughly. 
              Emphasis will be placed on real-world applications.

              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Calculus
              </li>
              At the American International School of Lomé, Calculus is divided into two sequential courses described below. 
              Only students who earn a C grade or better in Pre-Calculus or performed well on the placement test are permitted to take Calculus I. 
              These courses are intended for students who are highly motivated and wish to study computer science, engineering, mathematics, and natural sciences in colleges and universities.

              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Calculus 1
              </li>
              This is the first sequence of the two courses combining the subject matter of analytic geometry and calculus. 
              Functions and their graphs are studied with special attention to differentiation, limits, rules and integration using various techniques. 
              Applications of both differentiation (differential calculus) and integration (integral calculus) are covered.

              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Calculus 2
              </li>
              Calculus 2 is a study of the calculus of inverse functions, transcendental functions, techniques of integration, indeterminate forms, applications of integration, differential equations, parametric equations, polar coordinates, conic sections, and infinite sequences and series.

          </ul>
        
      </p>

      <div class="mb-4"></div>
      <p>
        <strong>3).	HIGH SCHOOL SCIENCE </strong><br>
        <strong>Grade Level: 9-12</strong><br><br>

        <ul class="list-inline m-0">
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                Grade 9 Physical Science
            </li>
            Physical is a half year of chemistry and half a year of physics with an emphasis on science processes: scientific method, measuring, observation and lab skills.
            During the chemistry portion students focus on the periodic table and study the patterns of behavior that atoms follow due to their position on the periodic Table. During the physics portion, students study motion, gravity, momentum, work, light, heat, sound and electricity. Students will use basic mathematics in these areas as well as logical methods and practical applications. 
            Students will learn how to balance equations, how to make salt compounds from a chemical reaction between an acid and a base, identify types of chemical reactions and practice naming compounds. 
            Both hands-on labs and virtual labs that allow students to experience the application of concepts, interactions and processes are included.  
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                Grade 10 Biology 
            </li>
            Biology is the study of living things. 
            The course begins with an environmental science unit, which includes building a self-contained ecosystem and an understanding of the cycles required to maintain life inside the ecosystem.
            They investigate the diversity and development of invertebrate and vertebrate animals. Students also study the chemistry of the cell and how they communicate, cell reproduction, genetics and inheritance. Students continue their study of biological concepts as they explore the structure and function of bacteria, viruses, fungi and plants. 
            They also learn about the anatomy and physiology of the human body. 
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                Grade 11 Chemistry
            </li>
            The course presents an introduction to principles and procedures in chemistry, Students study scientific measurements, chemical names and formulas, states of and changes in matter, numerical relationships in chemical reactions, trends expressed in the periodic table and the behavior of gases. 
            Students calculate empirical and molecular formulas, write and balance equations, determine mole and mass, interpret chemical equations and gain insight into various models of the atom. In the second semester, students continue their study of the principles and procedures in chemistry. 
            They focus on chemical bonding, water and solutions, reaction rates and equilibrium, acids, bases and salts, oxidation-reduction reactions and carbon compounds.
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                Grade 12 Physics
            </li>
            The study of a standard course in physics requires a strong algebra background and knowledge of basic trigonometry. 
            After the mathematical concept of the vectors introduced, Newtonian mechanics is covered. 
            Other topics covered include thermodynamics, electromagnetic, the theory of relativity, wave propagation and nuclear physics. 
            Topics associated with technology are also examined. 
            The course provides the students with the ability to apply physics to their daily lives. 
            It prepares them for the rigor of university level physics.             
        </ul>
          
      </p>

      <div class="mb-4"></div>
      <p>
        <strong>4).	HIGH SCHOOL SOCIAL STUDIES</strong><br>
        <strong>Grade Level: 9-12</strong><br><br>

        <ul class="list-inline m-0">
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                World History
            </li>
            The World History course is a modern history course beginning with a brief overview of the development of Western thought in Greece and Rome. 
            It covers the growth of the Islamic world, the Industrial Revolution, patterns of global change during the era of new Imperialism, the First and Second World War, nation building in the contemporary world, and the integration of countries into the world economy and the information, technological and communication revolutions. 
            The course emphasizes the spread of democratic ideals. It focuses on developing critical thinking skills. History writing skills that are emphasized include compare and contrast essays, continuity and change over time essays and document-based essays. 
            Students will practice map reading and analyzing data from graphs and charts.
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                U.S. History
            </li>
            The U.S. History course is a comprehensive course that emphasizes a multicultural perspective of the birth of the United States through the Cold War. 
            The course begins with pre-European America, focuses on nation-building and the formation and ideals of the U.S. government, outlines the various challenges and changes to the constitution and the democratic ideals including the Civil War, Reconstruction, African-American and women’s suffrage, reformation and the Civil Rights movement. 
            The course analyzes U.S. involvement in the World Wars, Korean and Vietnam War, as well as economic issues such as the Great Depression and New Deal, and conflicting economic philosophies.
            <br><br>
            Throughout the course, students develop the Historical and Social Sciences Analysis skills as outlined by the standards.

            
            <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>
                Global Issues
            </li>
            Global Issues is a required one-semester course that explores a variety of important political, social, economic and environmental issues in the contemporary world. 
            Because the emphasis is on the contemporary, the specific topics addressed each year will vary. One year there may be more emphasis on the political developments, another year social and/or environmental issues might dominate the discussion and research fostered in this class. 
            The emphasis throughout the course is on discussion and debate, as well as developing research and presentation skills
        </ul>
        
      </p>
      </div>

      <div class="row">
        <h2 class="mb-4">SECONDARY SUBJECTS</h2>   
          <p>
            <strong>1).	HIGH SCHOOL ENGLISH AS A SECOND LANGUAGE (HESL)</strong><br>
            <strong>Grade Level: 9-12</strong><br><br>

            As English is the language of instruction at AISL, English is taught as a supplementary or remedial (not for credit) course designed to help bring students to the level they need in order to function well in their respective academic courses. 
            Given the individual needs for the students, the ESL classes focus on any of the following: grammar, vocabulary development, speaking fluency, improved reading or listening comprehension, writing skills.
            <br><br>
            Success in academic courses is highly independent on a high level of English, however, we prefer to immerse students in English and so we do not separate ESL learners too much from their classmates.
            <br><br>
            All new students whose English level is not up to grade level spend one semester, or more likely one year in the ESL/English classes. 
            Support classes are provided for students who need extra help in learning or improving their language skills and knowledge.


            <ul class="list-inline m-0">
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    ESL Level I
                </li>
                This course introduces students to basic structures and vocabulary of the English language through the skills of reading, writing, speaking, and listening. 
                Students learn strategies in order to advance their reading, listening, and pronunciation skills. They expand oral comprehensibility and write complete sentences, a standard paragraph, short content-based essays. 
                They utilize level-appropriate conventions of grammar and punctuation with a minimum of errors.
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    ESL Level II
                </li>
                This is a transitional program for ESL students preparing them for the mainstream English class. 
                Primarily, this course is for Intermediate Level ESL students, with occasional exceptions. 
                It focuses on syntax, continued vocabulary development, reading, listening comprehension, speaking and pronunciation skills and writing multiple-paragraph compositions that demonstrate organization of ideas, use of a thesis statement, and supportive elements. 
                Intensive grammar instruction that supports academic writing skills is emphasized. Students may take this course for up to one year, and may be mainstreamed into the regular English class as soon as they are competent enough to handle mainstream content (determined by ESL and mainstream teacher). This course is not counted for English credit. 
                When basic language competencies improve, elements of literature study will be incorporated into this course.
                
                <li class="py-2">
                    <i class="fa fa-check text-success mr-3"></i>
                    ESL Level III
                </li>
                This extra support course is designed to help grades 11 and 12 enhance their listening, speaking, reading and mostly writing abilities while developing test taking skills for the TOEFL and SAT tests (often required to prove English proficiency for college or university admission).
                
            </ul>
          
        </p>

        <div class="mb-4"></div>
        
        <p>
          <strong>2).	HIGH SCHOOL WORLD LANGUAGES</strong><br>
          <strong>Grade Level: 9-12</strong><br><br>

          <ul class="list-inline m-0">
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  French
              </li>
              As the American International School of Lomé is an English-speaking school/environment and all classes are taught in English, French is taught as a second language. 
              However, many of our students are French speakers (francophone) and we have taken this into account in designing our French program.
              <br><br>
              The French program is a four-level curriculum. 
              The students are divided into levels by grade and by level in French. 
              <br><br>
              The hope is that students who have been at AISL for many years will graduate to bilingual in French and English.
              <br><br>
              For those who enter AISL in high school from French speaking environments, the focus is placed on keeping up and/or improving the written and grammatical aspect of the language since speaking fluency is often already achieved.
 
              <li class="py-2">
                  <i class="fa fa-check text-success mr-3"></i>
                  Beginner's French
              </li>
              The aim of this level is to provide non francophone students with the following:
              <ul style="list-style: lower-roman;">
                <li>
                  basic notions of alphabet, simple words, grammar rules, common expressions 
                </li>
                <li>
                  the ability to express ideas and opinions in short sentences
                </li>
                <li>
                  the ability to listen to and understand stores
                </li>
                <li>
                  the ability to read portions of texts
                </li>
                <li>
                  the ability to write short sentences correctly about various themes developed in class.
                </li>
              </ul>
      
          </ul>
        
        </p>
      </div>
      
      
    </div>
  </div>

{% endblock content %}