<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}

    <meta charset="utf-8" />
    <title>American International School of Lome | {% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="author" content="BY REALITIES MULTIMEDIA CONCEPT">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta name="description" content="{% block description %}{% endblock description %}">

    <meta property="og:description" content="{% block ogdescription %}{% endblock ogdescription %}"/>
    <meta property="og:image" content="{% block image %}{% endblock image %}"/>
    <meta property='og:title' content='American International School of Lome | {% block ogtitle %}{% endblock ogtitle %}'/>
    <meta property='og:url' content='{% block url %}{% endblock url %}'/>
    <meta property='og:site_name' content='American International School of Lome'/>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
      rel="stylesheet"/>

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Flaticon Font -->
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="container-fluid bg-light position-relative shadow">
      <nav
        class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5"
      >
        <a
          href="{% url 'index' %}"
          class="navbar-brand font-weight-bold text-secondary"
          style="font-size: 50px"
        >
        <img src="{% static 'img/logo.png' %}" width="70" />
          <span class="text-primary">AISL</span>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav font-weight-bold mx-auto py-0">
            <a href="{% url 'index' %}" class="nav-item nav-link {% if request.path == '/' %} active {% endif %}">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link {% if request.path == '/who-we-are/' %} active {% endif %}">Who we Are</a>
            <a href="{% url 'gallery' %}" class="nav-item nav-link {% if request.path == '/gallery/' %} active {% endif %}">Gallery</a>
            <a href="{% url 'news' %}" class="nav-item nav-link {% if request.path == '/our-news/' %} active {% endif %}">News</a>
            <a href="{% url 'admissions' %}" class="nav-item nav-link {% if request.path == '/admissions/' %} active {% endif %}">Admissions </a>
            <a href="{% url 'academics' %}" class="nav-item nav-link {% if request.path == '/school-academics/' %} active {% endif %}">Academics </a>
          </div>
          <a href="{% url 'contact' %}" class="btn btn-primary px-4">Contact Us</a>
        </div>
      </nav>
    </div>
    
    {% block content %} {% endblock content %}

    <div
      class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5"
    >
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a
            href="{% url 'index' %}"
            class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
            style="font-size: 40px; line-height: 40px"
          >
          <img src="{% static 'img/logo.png' %}" width="70" />
            <span class="text-white">AISL</span>
          </a>
          <p>
            The most reliable school for quality education. 
            American International School of Lome as a pacesetter Institution in Lome is the best choice for your child. 
            We bring out the best in your child and set them on the global stage to rule their world. 
            Register with us today!
          </p>
          <div class="d-flex justify-content-start mt-4">
            <a
              class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
              style="width: 38px; height: 38px; color: black;"
              href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
              style="width: 38px; height: 38px; color: black;"
              href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
              style="width: 38px; height: 38px; color: black;"
              href="#"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
              class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
              style="width: 38px; height: 38px; color: black;"
              href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-black mb-4">Get In Touch</h3>
          <div class="d-flex">
            <h4 class="fa fa-map-marker-alt text-black"></h4>
            <div class="pl-3">
              <h5 class="text-white">Address</h5>
              <p>10mn from US Embassy, Near Kegue Stadium, Lomé-Togo.</p>
            </div>
          </div>
          <div class="d-flex">
            <h4 class="fa fa-envelope text-black"></h4>
            <div class="pl-3">
              <h5 class="text-white">Email</h5>
              <p>info@aislome.net</p>
            </div>
          </div>
          <div class="d-flex">
            <h4 class="fa fa-phone-alt text-black"></h4>
            <div class="pl-3">
              <h5 class="text-white">Phone</h5>
              <p>+228 22 61 18 96</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-black mb-4">Quick Links</h3>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2" href="{% url 'index' %}"
              ><i class="fa fa-angle-right mr-2"></i>Home</a
            >
            <a class="text-white mb-2" href="{% url 'about' %}"
              ><i class="fa fa-angle-right mr-2"></i>Who we are</a
            >
            <a class="text-white mb-2" href="{% url 'gallery' %}"
              ><i class="fa fa-angle-right mr-2"></i>Gallery</a
            >
            <a class="text-white mb-2" href="{% url 'news' %}"
              ><i class="fa fa-angle-right mr-2"></i>News</a
            >
            <a class="text-white mb-2" href="{% url 'admissions' %}"
              ><i class="fa fa-angle-right mr-2"></i>Admissions</a
            >
            <a class="text-white mb-2" href="{% url 'academics' %}"
              ><i class="fa fa-angle-right mr-2"></i>Academics</a
            >
            <a class="text-white" href="{% url 'contact' %}"
              ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h3 class="text-black mb-4">Newsletter</h3>
          <form action="">
            <div class="form-group">
              <input
                type="text"
                class="form-control border-0 py-4"
                placeholder="Your Name"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control border-0 py-4"
                placeholder="Your Email"
                required="required"
              />
            </div>
            <div>
              <button
                class="btn btn-primary btn-block border-0 py-3"
                type="submit"
              >
                Submit Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="container-fluid pt-5"
        style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;"
      >
        <p class="m-0 text-center text-white">
          &copy;
          <a class="text-black font-weight-bold" href="{% url 'index' %}">American International School, Lome</a>.
          All Rights Reserved.

        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>