{% extends "main/base_generic.html" %}
{% block content %}
{% load static %}

  <!-- Header Start -->
  <div class="container-fluid bg-primary mb-5">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 400px"
    >
      <h3 class="display-3 font-weight-bold text-white">Contact Us</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0"><a class="text-white" href="{% url 'index' %}">Home</a></p>
        <p class="m-0 px-2">/</p>
        <p class="m-0">Contact Us</p>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Contact Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Get In Touch</span>
        </p>
        <h1 class="mb-4">Contact Us For Any Query</h1>
      </div>
      <div class="row">
        <div class="col-lg-7 mb-5">
          <div class="contact-form">
            <div id="success">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
              {% endif %}
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="control-group">
                {{ form.full_name }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                {{ form.email_address }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                {{ form.subject }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                {{ form.message }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
              </div>
              <div class="mb-3"></div>
              <div>
                <button
                  class="btn btn-primary py-2 px-4"
                  type="submit"
                  id="sendMessageButton"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5 mb-5">
          <p>
            Thank you for your interest in American International School of Lome School. 
            For More information or enquiries, kindly contact us via the details below. 
            You can expect to receive a reply within one business day if you contact us via phone or email.
            <br><br>
            We are happy to serve you!
          </p>
          <div class="d-flex">
            <i
              class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
              style="width: 45px; height: 45px"
            ></i>
            <div class="pl-3">
              <h5>Address</h5>
              <p> 10mn from US Embassy,
                Near Kegue Stadium, 
                Lomé-Togo.
                </p>
            </div>
          </div>
          <div class="d-flex">
            <i
              class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
              style="width: 45px; height: 45px"
            ></i>
            <div class="pl-3">
              <h5>Email</h5>
              <p> info@aislome.net</p>
            </div>
          </div>
          <div class="d-flex">
            <i
              class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
              style="width: 45px; height: 45px"
            ></i>
            <div class="pl-3">
              <h5>Phone</h5>
              <p> +228 22 61 18 96</p>
            </div>
          </div>
          <div class="d-flex">
            <i
              class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
              style="width: 45px; height: 45px"
            ></i>
            <div class="pl-3">
              <h5>Opening Hours</h5>
              <strong>Monday, Tuesday and Thursday:</strong>
              <p class="m-0">08:00 AM - 05:00 PM</p>
              <strong>Wednesday and Friday:</strong>
              <p class="m-0">08:00 AM - 05:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
{% endblock content %}